@font-face {
    font-family: 'pilowlavaregular';
    src: url('css/fonts/pilowlava-regular-webfont.woff2') format('woff2'),
         url('css/fonts/jax.css/pilowlava-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: 'pilowlavaregular';
    background: #222222;
    font-size: 100%;
}

body {
    font-family: 'Avenir Next', sans-serif;
    background-color: #222222;

}

.content {
    max-width: 600px;
    padding-top: 1em;
    margin: 1.5em auto;
}

.content:hover {
    cursor: grab;
}

a {
    text-decoration: none;
    color: #E1E0D4;
    font-size: 1rem;
    
}

a.links { 
    font-family: 'Inconsolata';
    color: #f0cf61;
    
}

a.links:hover {
    color: #DDAE13;
    text-decoration: underline;
    text-decoration-color: #DDAE13;
}

span.links { 
    color: #f0cf61;
    
}

span.links:hover {
    color: #DDAE13;
    text-decoration: underline;
    text-decoration-color: #DDAE13;
}


a.links-indent { 
    font-family: 'Inconsolata';
    color: #f0cf61;
    margin-left: 1.5rem;
}

a.links-indent:hover {
    color: #DDAE13;
    text-decoration: underline;
    text-decoration-color: #DDAE13;
}

h1 {
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    color: #E1E0D4;
}

h2 {
    font-size: 1.15rem;
    color: #E1E0D4;
    font-weight: 400;
    line-height: 2rem;
    
}

h3 {
  font-family: 'pilowlavaregular';
  font-size: 1rem;
  color: #E1E0D4;
}

h5 {
    font-family: 'Dela Gothic One';
    font-size: 0.75rem;
    color: #E1E0D4;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 6rem;
    
}

p.one {
    font-size: 1.25rem;
    color: #E1E0D4;
    font-weight:400;
    line-height: 1.75rem;
}


span.two {
    font-size: 1rem;
    color: #E1E0D4;
    font-weight: 300;
    line-height: 0.5rem;
}

@media (max-width: 600px) {
  .content {
    margin: 1.5em;
      padding-top: 0;
 }
